<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/header %>
    <% include ../partials/content_header %>
      <% include ../partials/content_header_posting %>


        <div class="container margin-bottom">


          <div class="row">
            <div class="col-sm-8 col-md-8 col-xs-8">
              <p id="subtitle">#Photo
              </p>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-4" style="text-align:right">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createImage">Upload</button>
            </div>
          </div>
          <% include ../partials/modal.html %>
          <hr class="hr-no-margin">

          <div class="row">
            <% images.forEach(function(images){ %>
              <div class="col-lg-4">
                <a href="/posting/photo/<%= images._id %>" class="thumbnail">
                  <figure class="figure">
                    <img src="/images/<%= images.imageName %>" class="figure-img img-fluid" alt="<%= images.imageName %>">
                    <figcaption class="figure-caption">
                      <p style="color:black; font-size:1.5em;">Title : <%= images.title %></p>
                      <p style="color:black; font-size:1em;">Upload by "<%= images.name %>"</p>
                    </figcaption>

                  </figure>
                </a>
              </div>
              <% }); %>
          </div>

        </div>

        <% include ../partials/pagination.html %>
        <% include ../partials/footer %>
        <% include ../partials/javascript %>
</body>

</html>
