<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/header %>
    <!-- Page Header -->
    <!-- Main Content -->
    <% include ../partials/content_header %>

      <% include ../partials/content_header_inf %>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-8 col-xs-8">
              <p id="subtitle">#
                <%= mode %>
              </p>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-4" style="text-align:right">
              <form action="/inf/write" method="get">
                <input style="display:none;" type="text" name="inf_category" value="<%= mode %>">

                <button type="submit" class="btn btn-primary">Write</button>


              </form>

            </div>

          </div>

          <table class="table table-hover table-responsive margin-bottom">
            <thead>
              <tr>
                <th width="7%">NO</th>
                <th width="24%">Title</th>
                <th width="20%">Writer</th>
                <th width="7%">Views</th>
                <th width="7%">Likes</th>
                <th width="15%">Date</th>
                <th width="40%">Manage</th>
              </tr>
            </thead>

            <!--데이터 -->
            <tbody>
              <% posting.forEach(function(posts){ %>

                <tr data-href="/inf/<%= posts._id %>">
                  <td>
                    <%= num++ %>
                  </td>
                  <td>
                    <%= posts.title %>
                  </td>
                  <td>
                    <%= posts.name %>
                  </td>
                  <td>
                    <%= posts.views %>
                  </td>
                  <td>
                    <%= posts.likes %>
                  </td>
                  <td>
                    <%= posts.date %>
                  </td>
                  <td>
                    <% if (user) {%>
                      <% if (user.local.name === posts.name) { %>
                        <a href="/delete/<%=posts._id%>" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">Delete</a>
                        <a href="/inf/update/<%=posts._id%>" class="btn btn-primary">Modify</a>
                        <%} else {%>
                          <button class="btn btn-danger" onclick="swal('Oops!', 'You are not a writer of this posting!', 'error')">Delete</button>
                          <button class="btn btn-primary" onclick="swal('Oops!', 'You are not a writer of this posting!', 'error')">Modify</button>
                          <% } %>
                            <%} else {%>
                              <a href="/login" class="btn btn-danger">Delete</a>
                              <a href="/login" class="btn btn-primary">Modify</a>
                              <% } %>
                  </td>
                </tr>

                <% }); %>
            </tbody>
          </table>


          <nav aria-label="Page navigation example" id="table-pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
              <li class="page-item"><a class="page-link" href="#">7</a></li>
              <li class="page-item"><a class="page-link" href="#">8</a></li>
              <li class="page-item"><a class="page-link" href="#">9</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>

        </div>


        <!-- Footer -->
        <% include ../partials/footer %>
          <% include ../partials/javascript %>
          <script type="text/javascript">
            $('tr[data-href]').on("click", function() {
              document.location = $(this).data('href');
            });
          </script>
</body>

</html>
