<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/header %>

    <!-- Main Content -->
    <% include ../partials/content_header %>
      <% include ../partials/content_header_posting %>

        <div class="container">
          <div class="content-info">
            <div class="row">
              <div class="col-sm-8 col-md-8 col-xs-8">
                <h4><strong>Title:</strong> <%= posting[0].title %><h4>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-4">
              <h4><strong>Date:</strong> <%= posting[0].date %><h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-md-8 col-xs-8">
                <h4><strong>Category:</strong> <%= posting[0].category%><h4>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-4">
              <h4><strong>Writer:</strong> <%= posting[0].name%><h4>
            </div>
          </div>
        </div>

        <div class="content-main">
          <div class="container">
              <%= posting[0].content %>
          </div>

        </div>
        <div class="row" id="bottom">
            <div class="col-sm-6 col-md-6 col-xs-6" id="bottom-left">
              <a href="/posting/<%=posting[0].category%>" class="btn btn-warning" >Back</a>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-6" id="bottom-right">
              <a href="/posting/update/<%=posting[0]._id%>" class="btn btn btn-info" >Modify</a>
            </div>
        </div>
      </div>
      <br>




      <% include ../partials/footer %>
        <% include ../partials/javascript %>


</body>

</html>
