<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/header %>
  <!-- Main Content -->
  <% include ../partials/content_header %>


  <% include ../partials/content_header_posting %>

  <div class="container">
    <hr>
    <form id="writing_form" action="/update" method="post">
      <div class="content-info">
        <input type="hidden" name="id" value="<%= posting[0]._id%>">
        <input type="hidden" id="hidden" name="name" value="<%= user.local.name %>">
        <input type="hidden" name="menu" value="posting">
        <div class="row">
          <div class="col-sm-2 col-md-2 col-xs-2">
            <label for="titel_name">Title</label>
          </div>
          <div class="col-sm-10 col-md-10 col-xs-10">
            <input type="text" name="title" id="title_name" value="<%=posting[0].title%>"/><br>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-md-2 col-xs-2">
            <label for="category">Category</label>
          </div>
          <div class="col-sm-10 col-md-10 col-xs-10">
            <select name="category" id="category">
            <option value="">------------------</option>
            <% if(posting[0].category == "notice"){%>
              <option selected value="notice">#Notice</option>
            <% } else{%>
              <option value="notice">#Notice</option>
            <% } %>

            <% if(posting[0].category == "free_posting"){%>
              <option selected value="free_posting">#Free_Posting</option>
            <% } else{%>
              <option value="free_posting">#Free_Posting</option>
            <% } %>

            <% if(posting[0].category == "recruiting_study"){%>
              <option selected value="recruiting_study">#Recruting_Study</option>
            <% } else{%>
              <option value="recruiting_study">#Recruting_Study</option>
            <% } %>

            <% if(posting[0].category == "meet"){%>
              <option selected value="meet">#Lets_meet</option>
            <% } else{%>
              <option value="meet">#Lets_meet</option>
            <% } %>

            <% if(posting[0].category == "meet"){%>
              <option selected value="meet">#Lets_meet</option>
            <% } else{%>
              <option value="meet">#Lets_meet</option>
            <% } %>

            <% if(posting[0].category == "qna"){%>
              <option selected value="qna">#QnA</option>
            <% } else{%>
              <option value="qna">#QnA</option>
            <% } %>
            </select>
          </div>
        </div>
      </div>

      <div id="text_frame">
        <textarea name="content" id="writing_text" ><%= posting[0].content%></textarea>
      </div>

      <br>
      <div class="top_boundary" id="button_box">
        <table>
          <colgroup>
            <col style="width:90%;">
            <col style="width:10%;">
          </colgroup>
          <tr>
            <td>
              <a href="/posting/<%= posting[0].category %>">
                <button type="button" class="button btn-warning" id="cancel">
                  <img id="photo_cancel" src="/images/icon/cancel.png">
                  Cancel
                </button>
              </a>
            </td>
            <td>
              <button type="submit" class="button btn-primary" id="submit" name="submit" value="submit">
              <img id="photo_post" src="/images/icon/post.png">
              Post
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>

    <!-- Footer -->

    <% include ../partials/footer %>
      <% include ../partials/javascript %>
</body>

</html>
